*{
    margin: 0px;
}

nav{
    background-color: aqua;
}

.kolom{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
nav > ul{
    list-style-type: none; 
    display: flex;
    cursor:pointer;
    padding-top: 50px;
    text-align: center;
}

li{
    list-style-type: none;
    width: 120px;
}

nav ul li >ul {
    display: none;
}

nav ul li:hover ul{
    position: flex;
    display: inline;
}

nav ul li ul li {
    border: 2px solid black;
    text-align: center;
    padding: 3px;
}